#cms-field{
    background-color:#3c4ba8 ;
    height: 70vh;
    margin:1vh
}
#cms-field h1{
    color: aliceblue;
    padding-top:10vh;
    font-size: 6vh;
    text-align: center;
}
.offer-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: #fc5830;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.offer-circle img{
    height: 50px;
    width: auto;
}

#cit-login{
    background-color: #fc5830;
}
.offer-box{
    width: calc(25% - 20px);
    margin-left: 5%;
    height: 35vh;
    background: white;
    border: none;
    box-shadow: 0 4px 8px #0003;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s;
    color: #095095;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 43vh;
    margin-right: 5%;
    font-size: 20px;
}
#cms-boxes{
    display: flex;
    padding:5%
}

#cvc-login{
    background-color:#75a63f
}

#status{
    background-color: #18a07b;
}
a{
    text-decoration: none;
    color: #3c4ba8;
}

a:visited{
    text-decoration: none;
    color: #3c4ba8;
}